<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>GEZTouchLayer</string>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>GAbstractSlideContainer</string>
	<key>editorClassName</key>
	<string>GAbstractSlideContainer</string>
	<key>properties</key>
	<array>
		<dict>
			<key>name</key>
			<string>GAbstractSlideContainer</string>
			<key>displayName</key>
			<string>GAbstractSlideContainer</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>MoveType</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>slideLayerMoveType</string>
			<key>extra</key>
			<string>Auto|0|AdjustToSpecialPoint|1</string>
		</dict>
		<dict>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>OutBoundMoveType</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>outBoundMoveType</string>
			<key>extra</key>
			<string>DontMove|0|EaseOutMove|1</string>
		</dict>
	</array>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>default</key>
			<array>
				<real>0</real>
				<real>0</real>
			</array>
			<key>type</key>
			<string>Point</string>
			<key>name</key>
			<string>anchorPoint</string>
			<key>displayName</key>
			<string>AnchorPos&amp;SlideDirection</string>
		</dict>
	</array>
</dict>
</plist>
