<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCSprite</string>
	<key>canHaveChildren</key>
	<string>YES</string>
	<key>className</key>
	<string>GGraySprite</string>
	<key>editorClassName</key>
	<string>GGraySprite</string>
</dict>
</plist>
